In [10]:
import pandas as pd
import requests

In [82]:
raw = requests.get("https://covid19.saglik.gov.tr/covid19api?getir=liste") # istek atıp dönen veriyi değişkene atıyoruz
raw_json = raw.json() # dönen veri içerisindeki json'u alıyoruz
DF = pd.DataFrame(raw_json) # dönen json'dan bir DataFrame oluşturuyoruz

In [83]:
cols = DF.columns.tolist() # kolonları (değişkenleri) bir listeye atıyoruz
new_cols = [] 
for col_name in cols:
    if 'gunluk' in col_name or 'toplam' in col_name or 'tarih' in col_name:
        new_cols.append(col_name) # istediğimiz kolonlardan bir liste oluşturuyoruz

In [84]:
DF = DF[new_cols] # yeni kolonları seçip bir DF oluşturuyoruz

In [85]:
for col_name in DF.loc[:, 'gunluk_test':].columns: # gunluk_test (dahil) değişkeninden sonraki değişkenleri gez
    DF[f'{col_name}'] = DF[f'{col_name}'].str.replace('.', '').astype('string') # her birini önce '.' dan arındır ve birleştir. Sonra da stringe çevir
    DF[f'{col_name}'] = pd.to_numeric(DF[f'{col_name}']) # her değişkeni sayısala çevir

In [86]:
DF.fillna(0, inplace=True) # boş olan değerleri 0 ile doldur

In [89]:
for col_name in DF.loc[:, 'gunluk_test':].columns: # gunluk_test (dahil) değişkeninden sonraki değişkenleri gez
    DF[f'{col_name}'] = DF[f'{col_name}'].astype('int') # her birini int'e çevir

In [92]:
DF['tarih'] = pd.to_datetime(DF['tarih'], format='%d.%m.%Y') # tarih formatına göre elimdeki Date verisini pandas date tipine çevir

In [93]:
DF

,tarih,gunluk_test,gunluk_vaka,gunluk_vefat,gunluk_iyilesen,toplam_test,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim,toplam_entube
0,2020-11-10,146198,2529,87,2215,15419420,399360,11059,342501,0,0
1,2020-11-09,145411,2576,85,2047,15273222,396831,10972,340286,0,0
2,2020-11-08,141944,2516,84,2018,15127811,394255,10887,338239,0,0
3,2020-11-07,139675,2483,81,1928,14985867,391739,10803,336221,0,0
4,2020-11-06,145241,2436,83,1914,14846192,389256,10722,334293,0,0
...,...,...,...,...,...,...,...,...,...,...,...
240,2020-03-15,0,0,0,0,0,18,0,0,0,0
241,2020-03-14,0,0,0,0,0,6,0,0,0,0
242,2020-03-13,0,0,0,0,0,5,0,0,0,0
243,2020-03-12,0,0,0,0,0,1,0,0,0,0
244,2020-03-11,0,0,0,0,0,1,0,0,0,0