In [30]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('automobiles.csv')

In [5]:
df.head(1)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495

In [7]:
df['symboling']+1 # symboling kolonunun her değerine +1 ekler

0      4
1      4
2      2
3      3
4      3
      ..
200    0
201    0
202    0
203    0
204    0
Name: symboling, Length: 205, dtype: int64

In [32]:
df['normalized-losses'].replace('?',np.nan, inplace=True) # ? olan verileri NaN ile değiştirdik

In [42]:
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'])

In [48]:
df['normalized-losses'] = df['normalized-losses'].replace(np.nan,df['normalized-losses'].mean()) # kolon içerisindeki NaN değerleri ortalama ile değiştirdik

In [52]:
df['normalized-losses'] = df['normalized-losses'].astype('int') # float olan veri tipini int'e çevirdik

In [54]:
df['city-mpg'] = 235 / df['city-mpg'] # gallon olan hesaplama yöntemini litreye çevirmek için dönüşüm yapıyoruz

In [57]:
df.rename(columns={'city-mpg':'city-L/100km'},inplace=True) # kolonu yeniden isimlendiriyoruz

In [66]:
df['price'] = df['price'].replace('?',np.nan) # ? işareti olanları NaN'a çevirdik
df['price'] = df['price'].astype('float') # kolonu float olarak set ettik
df['price'].replace(np.nan,df['price'].mean(),inplace=True)

### Normalizasyon Metodları

#### Basit Özellik Ölçekleme (Simple Feature Scaling)

* veri_yeni = veri / feature.max  -> veri kolonun(feature) en büyük değerine bölünür


#### Min - Max

* veri_yeni = (veri - feature.min) / (feature.max - feature.min) -> (veriden kolonun/feature minimum değeri çıkarılır) / (kolonun/feature en büyük değerinden en küçük değeri çıkarılır)
* değer 0 ile 1 arasında olmaktadır


#### Z-score

* veri_yeni = (veri - aritmetik_ortalama) / standart_sapma
* değer genelde -3 ve +3 arasında gider gelir. daha fazla da olabilir.

In [71]:
df['length'] = df['length'] / df['length'].max() # simple feature scaling

In [73]:
df['length'] = (df['length'] - df['length'].min()) / (df['length'].max() - df['length'].min()) # Min - Max

In [80]:
df['length'] = (df['length'] - df['length'].mean()) / df['length'].std() # Z-score

### Binning
* Değerleri gruplama işlemidir
* Numerik değerleri kategorik değişkenlere çevirebiliriz

In [84]:
bins = np.linspace(df['price'].min(), df['price'].max(), 4) # belirtilen aralıkta eşit uzaklıkta olan 4 sayı döndürür

In [85]:
grup_isimleri = ['Düşük','Orta','Yüksek']

In [95]:
df['price-binned'] = pd.cut(df['price'],bins=bins, labels=grup_isimleri, include_lowest=True) 
# oluşturduğumuz gruplara göre sınıflandırmak için cut fonksiyonunu kullanıyoruz

### Kategorik Değişkenleri Sayısal Değişkenlere Çevirmek

In [98]:
pd.get_dummies(df['fuel-type']) # kategorik bir feature'ı bu şekilde numerik olarak parçalayabiliriz

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]